.bg-menu{
    background: rgb(223,7,22);
    background: linear-gradient(180deg, rgba(223,7,22,0) 0%, rgba(223,7,22,1) 27%);
}
.menu-bottom{
    bottom: -100%;
    transition: all 0.4s;
}
.stamp-item{
    background-image: url('../images/stamp-inactive.png');
    background-size: contain;
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #595857;
    text-align: center;
    line-height: 1;
    &.special{
        position: relative;
        top: -55px;
        margin: 0 15px 15px;
        @media (max-width: 361px) {
            margin: 0 10px 15px;
        }
    }
    &.active{
        background-image: url('../images/stamp-active.png');
        font-size: 0;
    }
}
.btn{
    display: inline-flex;
    font-size: 46px;
    color: #fff;
    width: 293px;
    height: 106px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.btn-red{
    background-image: url('../images/btn-red.png');
}
.btn-gray{
    background-image: url('../images/btn-gray.png');
}
.luffy{
    .characters{
        position: absolute;
        width: 85%;
        top: 50%;
        left: 50%;
        @media (max-width: 375px) {
            top: 36%;
        }
        &--left{
            transform: translate(-80%, -50%);
        }
        &--right{
            transform: translate(-30%, -50%);
        }
    }
}
.zoro{
    .characters{
        position: absolute;
        top: 50%;
        left: 50%;
        @media (max-width: 375px) {
            top: 36%;
        }
        &--left{
            transform: translate(-75%, -50%);
        }
        &--right{
            width: 60%;
            right: -38px;
            bottom: 394px;
        }
    }
}
.chopper{
    .characters{
        position: absolute;
        width: 85%;
        top: 53%;
        left: 50%;
        @media (max-width: 375px) {
            top: 43%;
        }
        &--left{
            transform: translate(-103%, -118%);
            width: 60%;
        }
        &--right{
            transform: translate(0%, -80%);
        }
    }
}
.nami{
    .characters{
        position: fixed;
        width: 85%;
        &--left{
            left: -33px;
            bottom: 399px;
            width: 171px;
        }
        &--right{
            left: 50%;
            transform: translateX(-10%);
            top: 56%;
            width: 65%;
        }
    }
}
.sanji{
    .characters{
        position: fixed;
        width: 85%;
        &--left{
            left: 50%;
            transform: translateX(-70%);
            top: 55%;
            width: 70%;
        }
        &--right{
            width: 60%;
            right: -60px;
            bottom: 405px;
        }
    }
}
.robin{
    .characters{
        position: fixed;
        width: 85%;
        &--left{
            left: -33px;
            bottom: 400px;
            width: 180px;
        }
        &--right{
            left: 50%;
            transform: translateX(-40%);
            top: 56%;
            width: 91%;
        }
    }
}
.brook{
    .characters{
        position: fixed;
        width: 85%;
        &--left{
            left: 50%;
            transform: translateX(calc(-90%));
            top: 50%;
            width: 100%;
        }
        &--right{
            width: 60%;
            right: -44px;
            bottom: 412px;
        }
    }
}
.franky{
    .characters{
        position: fixed;
        width: 85%;
        &--left{
            left: -73px;
            bottom: 387px;
            width: 200px;
        }
        &--right{
            left: 50%;
            transform: translateX(-16%);
            top: 56%;
            width: 91%;
        }
    }
}
.shanks{
    .characters{
        position: fixed;
        width: 85%;
        &--left{
            left: 50%;
            transform: translateX(-60%);
            top: 55%;
            width: 100%;
        }
        &--right{
            width: 50%;
            right: -34px;
            bottom: 420px;
        }
    }
}
.jinbe{
    .characters{
        position: fixed;
        width: 85%;
        &--left{
            left: -33px;
            bottom: 430px;
            width: 200px;
            z-index: -1;
        }
        &--right{
            left: 50%;
            transform: translateX(-16%);
            top: 56%;
            width: 91%;
        }
    }
}
.max-w-tab{
    max-width: 767px;
    margin: 0 auto;
}
.max-w-mb{
    max-width: 490px;
    margin: 0 auto;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
    opacity: 1;
    z-index: 999;
}
.main-popup {
    top: 25%;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
}
.main-popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.main-popup .close {
    position: absolute;
    top: 2px;
    right: 12px;
}
