.bg-menu{
    background: rgb(223,7,22);
    background: linear-gradient(180deg, rgba(223,7,22,0) 0%, rgba(223,7,22,1) 27%);
}
.menu-bottom{
    bottom: -100%;
    transition: all 0.4s;
}
.stamp-item{
    background-image: url('../images/stamp-inactive.png');
    background-size: contain;
    width: 100px;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #595857;
    text-align: center;
    line-height: 1;
    &.special{
        position: relative;
        top: -55px;
        margin: 0 15px 15px;
    }
    &.active{
        background-image: url('../images/stamp-active.png');
        font-size: 0;
    }
}
.btn{
    display: inline-flex;
    font-size: 46px;
    color: #fff;
    width: 293px;
    height: 106px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.btn-red{
    background-image: url('../images/btn-red.png');
}
.btn-gray{
    background-image: url('../images/btn-gray.png');
}
.luffy{
    .characters{
        position: absolute;
        width: 85%;
        bottom: 120px;
        &--left{
            left: -85px;
        }
        &--right{
            right: -55px;
        }
    }
}
.zoro{
    .characters{
        position: absolute;
        &--left{
            bottom: 65px;
            left: -70px;
            width: 95%;
        }
        &--right{
            width: 60%;
            right: -38px;
            bottom: 394px;
        }
    }
}
.chopper{
    .characters{
        position: absolute;
        &--left{
            left: -55px;
            width: 64%;
            bottom: 386px;
        }
        &--right{
            right: -148px;
            width: 100%;
            bottom: 208px;
        }
    }
}
.nami{
    .characters{
        position: absolute;
        &--left{
            left: -33px;
            bottom: 399px;
            width: 171px;
        }
        &--right{
            width: 85%;
            right: -75px;
            bottom: -24px;
        }
    }
}
.sanji{
    .characters{
        position: absolute;
        &--left{
            width: 90%;
            left: -40px;
            bottom: 42px;
        }
        &--right{
            width: 60%;
            right: -60px;
            bottom: 405px;
        }
    }
}
.robin{
    .characters{
        position: absolute;
        &--left{
            left: -33px;
            bottom: 400px;
            width: 180px;
        }
        &--right{
            max-width: 418px;
            right: -45px;
            bottom: 3px;
        }
    }
}
.brook{
    .characters{
        position: absolute;
        width: 85%;
        &--left{
            left: -166px;
            bottom: 6px;
            width: 100%;
        }
        &--right{
            width: 60%;
            right: -44px;
            bottom: 412px;
        }
    }
}
.franky{
    .characters{
        position: absolute;
        &--left{
            left: -73px;
            bottom: 387px;
            width: 200px;
        }
        &--right{
            right: -95px;
            bottom: 299px;
        }
    }
}
.shanks{
    .characters{
        position: absolute;
        &--left{
            left: -110px;
            bottom: -20px;
            max-width: 530px;
        }
        &--right{
            width: 50%;
            right: -34px;
            bottom: 420px;
        }
    }
}
.jinbe{
    .characters{
        position: absolute;
        &--left{
            left: -33px;
            bottom: 430px;
            width: 200px;
            z-index: -1;
        }
        &--right{
            right: -125px;
            bottom: 120px;
            max-width: 422px;
        }
    }
}
